  .site {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
  }
  h1.site {
    background: transparent;
    margin: 0.5em 0;
    padding: 0;
    font-size: 80%;
    line-height: 1.0;
  }
  h1.site a {
    color: black;
    text-decoration: none;
  }
  h1.site img {
    display: block;
  }

  h1, h2, h3 {
    padding: 0.3em;
    font-size: 100%;
    color: white;
    background-color: #5279e7;
  }

  h1 {
    margin: 0 0 0.5em 0;
    padding: 0.5em;
    font-size: 170%;
    line-height: 1.5;
    background-color: #1841ce;
    background: -moz-linear-gradient(left, #1841CE, #fff);
    background: -webkit-gradient(linear, left top, right top, from(#1841CE), to(#fff));
  }

  h3 {
    background-color: #a1d1ee;
  }

table {
  width: 100%;
}

  tr:hover {
    background: #efecf2;
  }
  th {
    text-align: left;
  }
  th, td {
    padding-right: 0.5em;
  }
  th:first-child {
    padding-left: 0.5em;
  }
  .category th {
    padding: 0.3em;
    background-color: #C0C0C0;
  }
  input[type=text] {
    width: 80%;
  }
  .pattern-1 { background-color: #ffdddd }
  .pattern-2 { background-color: #ffffdd }
  .pattern-3 { background-color: #ddffdd }
  .pattern-4 { background-color: #dde5ff }
  .pattern-5 { background-color: #ffcccc }
  .pattern-6 { background-color: #cc99cc }
  .pattern-7 { background-color: #FFEFD5 }
  .pattern-8 { background-color: #E0FFFF }
  .pattern-9 { background-color: #98FB98 }
  .pattern-10 { background-color: #ADD8E6 }
  .pattern-11 { background-color: #F0E68C }
  .pattern-12 { background-color: #FFA07A }
  .error {
    color: red;
  }

.target-char {
  font-family: serif;
  font-size: 500%;
}

.char-info td {
  text-align: center;
}

th.in-set {
  background-color: green;
}

th.not-in-set {
  background-color: red;
}

th.in-set a, th.not-in-set a {
  color: white;
}

th.error a {
  color: red;
}

td.in-set {
  color: green;
}

td.not-in-set {
  font-weight: bolder;
  color: white;
  background: red;
}

.char-escapes td {
  padding: 0 0.5em;
}

#chars p, .map-entries p, .map-entries table {
  margin: 1em;
  line-height: 2.0;
  text-align: justify;
}

#fonts p {
  margin: 1em;
}

.set-list p {
  margin: 1em;
}

.set-list ul {
  margin: 1em;
}

.set-list ul li {
  display: inline;
  margin-right: 1em;
  word-wrap: break-word;
  line-height: 2.0;
}

#fonts section > div {
  -webkit-column-width: 15em;
  column-width: 15em;
}

#fonts section > div > table {
  display: block;
}

#fonts section > div > table > tbody {
  display: block;
}

#fonts tr {
  display: block;
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

#fonts tr th,
#fonts tr td {
  display: block;
}

#fonts tr:nth-child(2n) th,
#fonts tr:nth-child(2n) td {
  background: #f9f9f9;
  color: black;
}

#fonts td code {
  font-size: 300%;
}

#form p {
  margin: 0;
}

#variables ul {
  -webkit-column-width: 12em;
  -moz-column-width: 12em;
  column-width: 12em;
}

dl {
  margin: 1em;
  line-height: 1.5;
}

dt {
  font-weight: bolder;
}

dd + dt {
  margin-top: 1em;
}

dd {
  margin-left: 1.5em;
  padding-left: 0;
}

input {
  width: 70%;
}

code {
  word-wrap: break-word;
  font-family: "Courier New", monospace;
}

  .charname {
    
  }

  aside.ads {
    display: none;
  }

  @media screen and (min-width: 600px) {
    section#char, section#form, .has-ads {
      position: relative;
      padding-right: 300px;
      min-height: 250px;
    }

    aside.ads {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

button.copy {
  font-size: 80%;
  cursor: pointer;
  border-style: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  line-height: 1.4;
}

button.copy:not(:hover) {
  background: transparent;
  color: gray;
}
